# This is Git's per-user configuration file.
[user]
name = Theodore Nordsieck
email = theodore.nordsieck@gmail.com
[core]
editor = emacs
[github]
user = nordsieck
[alias]
# update master
um = !git fetch -p upstream && git rebase upstream/master master && git push origin master

# graphical log
lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

# graphical log - head
lgh = !git lg | head -n 20 && echo ""
llh = !git ll | head -n 40 && echo ""

# all everything to a commit with text "."
dot = !git add -A . && git commit -m .

# add everything to the last commit
fixup = !git add --all . && git commit --amend --no-edit

# diff master
dm = diff master...
[push]
	default = simple
[http]
	cookiefile = /Users/theodorenordsieck/.gitcookies
